<!-- <h1>Breakfast#index</h1>
<p>Find me in app/views/breakfast/index.html.erb</p> -->
<% content_for :title do %>Paradise Diner - Breakfast<% end %>
<% content_for :description do %>Serving All Day Breakfast!<% end %>

<body class="breakfast">

  <div class="left-border"></div>

  <div class="breakfast-container">
    <div class="breakfast-background"></div>
    <div class="breakfast-menu">
      <div class="eggs">
        <div class="breakfast-name">EGGS</div>
        <div class="breakfast-description">Served with Potatoes, Toast, Butter and Jelly</div>
        <table class="breakfast-table">
          <tr>
            <td>Two Country Fresh Eggs</td>
            <td>$4.25</td>
          </tr>
          <tr>
            <td>with Bacon or Ham or Sausage</td>
            <td>$6.25</td>
          </tr>
          <tr>
            <td>with Pork Roll or Scrapple</td>
            <td>$6.25</td>
          </tr>
          <tr>
            <td>with Canadian Bacon</td>
            <td>$6.75</td>
          </tr>
          <tr>
            <td>with Turkey Bacon</td>
            <td>$6.75</td>
          </tr>
          <tr>
            <td>with Turkey Sausage</td>
            <td>$6.75</td>
          </tr>
        </table>
      </div>

      <div class="breakfast-sandwiches">
        <div class="breakfast-name">BREAKFAST SANDWICHES</div>
        <table class="breakfast-table">
          <tr>
            <td>2 Eggs on Kaiser Roll or Toast</td>
            <td>$2.75</td>
          </tr>
          <tr>
            <td>with any Meat</td>
            <td>$4.75</td>
          </tr>
          <tr>
            <td>with Cheese - ADD</td>
            <td>$0.50</td>
          </tr>
          <tr>
            <td>on Bagel, Croissant or English Muffin - ADD</td>
            <td>$0.50</td>
          </tr>
          <tr>
            <td>Long Roll w/ 3 Eggs - ADD</td>
            <td>$1.00</td>
          </tr>
        </table>
      </div>

      <div class="omelettes">
        <div class="breakfast-name">PARADISE SPECIAL OMELETTES</div>
        <div class="breakfast-description">3 Eggs Special Omelette</div>
        <table class="breakfast-table">
          <tr>
            <td>Plain Omelette</td>
            <td>$4.95</td>
          </tr>
          <tr>
            <td>Cheese Omelette</td>
            <td>$5.95</td>
          </tr>
          <tr>
            <td>Bacon, Ham or Sausage Omelette</td>
            <td>$6.75</td>
          </tr>
          <tr>
            <td>Turkey Omelette</td>
            <td>$6.95</td>
          </tr>
          <tr>
            <td>Spinach Omelette</td>
            <td>$5.95</td>
          </tr>
          <tr>
            <td>3-Veggie Omelette</td>
            <td>$5.95</td>
          </tr>
          <tr>
            <td>Athenian (Spinach & Feta) Omelette</td>
            <td>$6.45</td>
          </tr>
          <tr>
            <td>Greek (Feta & Tomato) Omelette</td>
            <td>$6.45</td>
          </tr>
          <tr>
            <td>Western Omelette (Ham, Green Pepper, Onion)</td>
            <td>$6.95</td>
          </tr>
          <tr>
            <td>Farmers Omelette (Ham, Bacon, Tomato, Mushroom, Onion)</td>
            <td>$8.25</td>
          </tr>
        </table>
      </div>

      <div class="pancakes-frenchtoast">
        <div class="breakfast-name">PANCAKES or FRENCH TOAST</div>
        <table class="breakfast-table">
          <tr>
            <td>Pancakes</td>
            <td>$4.95</td>
          </tr>
          <tr>
            <td>Pancakes with Meat</td>
            <td>$6.75</td>
          </tr>
          <tr>
            <td>French Toast</td>
            <td>$4.95</td>
          </tr>
          <tr>
            <td>French Toast with Meat</td>
            <td>$6.75</td>
          </tr>
          <tr>
            <td>Short Stack Pancakes</td>
            <td>$3.95</td>
          </tr>
          <tr>
            <td>Short Stack Pancakes with Meat</td>
            <td>$5.95</td>
          </tr>
          <tr>
            <td>Short Stack French Toast</td>
            <td>$3.95</td>
          </tr>
          <tr>
            <td>Short Stack French Toast with Meat</td>
            <td>$5.95</td>
          </tr>
        </table>
      </div>

      <div class="breakfast-other">
        <div class="breakfast-name">OTHER BREAKFAST ITEMS</div>
        <table class="breakfast-table">
          <tr>
            <td>Steak & Eggs</td>
            <td>$15.95</td>
          </tr>
          <tr>
            <td>Eggs Benedict</td>
            <td>$9.95</td>
          </tr>
          <tr>
            <td>Chipped Beef</td>
            <td>$6.75</td>
          </tr>
          <tr>
            <td>Oatmeal or Grits</td>
            <td>$2.95</td>
          </tr>
          <tr>
            <td>Any Meat - Side Order</td>
            <td>$2.50</td>
          </tr>
        </table>
      </div>

      <div class="toast-bagels-muffins">
        <div class="breakfast-name">TOAST/BAGELS/MUFFINS/BUNS</div>
        <table class="breakfast-table">
          <tr>
            <td>Toast</td>
            <td>$1.00</td>
          </tr>
          <tr>
            <td>Bagel with Butter</td>
            <td>$1.50</td>
          </tr>
          <tr>
            <td>Bagel with Cream Cheese</td>
            <td>$2.50</td>
          </tr>
          <tr>
            <td>Muffins</td>
            <td>$2.50</td>
          </tr>
          <tr>
            <td>Cinnamon Buns</td>
            <td>$2.50</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="right-border"></div>

</body>
